/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
} 

/* Custom PROPERTIES */
:root {
}




/* Generics */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    background-color: black;
}

img {
    max-width: 100%;
    display: block;
}



/* Utilties */
.conteiner {
    max-width: 1920px;
    margin: 0 auto;
    border: 2px dotted white;
    background-color: #e53170;
    height: 100px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.debag {
    border: 2px dotted white;
}

/* #HEADER */
header {
    background-color: black;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.btn-windows {
    display:flex;
    align-content: center;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
}

.btn-icon.speaker a {
    width: 140px;
    display: block;
}

.btn-icon.close a {
    width: 42px;
    display: block;
}

.btn a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #4a4a4a;
    margin-left: 4px;
    text-align: center;
    border-radius: 6px;
}

.btn a:hover {
    color: lightgray;
}

/* #MAIN */
.zoom-img {
    background-color: yellowgreen;
    width: calc(100% / 7);
    position: relative;
}
.zoom-img div {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 6px;
}